* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Orbitron', sans-serif;
}
body {
	min-height: 100vh;
	background-color: rgb(42, 48, 43);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 1s;
	width: 100%;
}
.content {
	width: 550px;
	height: 550px;
	background-color: inherit;
	border: 8px double #fff;
	color: #fff;
}
.about {
	font-size: 4em;
	width: 80px;
	height: 80px;
	position: fixed;
	right: 0;
	top: 0;
	margin: 30px;
	font-weight: 900;
	color: #fff;
	background-color: inherit;
	border: 0;
}
.aboutModal {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 650px;
	height: auto;
	background-color: rgb(42, 48, 43);
	padding: 40px;
	border: 10px double #fff;
	z-index: 11;
}
#closeModal {
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 10px;
	font-size: 2em;
	background-color: inherit;
	color: inherit;
	border: none;
}
.aboutModal h2 {
	text-align: center;
	margin-bottom: 10px;
}
.aboutModal p {
	font-size: 0.8em;
	margin-bottom: 10px;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	filter: blur(10px);
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(1px);
	z-index: 10;
}
.top_section {
	width: 100%;
	height: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top_section h1 {
	margin-left: 40px;
	text-transform: uppercase;
	font-size: 2em;
	max-width: 300px;
}
.top_section .range {
	margin-right: 40px;
	font-style: italic;
	font-size: 0.8em;
}
.top_section span {
	display: none;
}
.mid_section {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 0;
}
.number {
	height: 200px;
	width: 200px;
	border: 10px double #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 7em;
	font-weight: 900;
	transition: 0.5s;
}
.number:hover {
	font-size: 7.5em;
	background-color: rgba(0, 0, 0, 0.3);
}
.bottom_section {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.bottom_section .choosing {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.bottom_section .choosing #user_num {
	padding: 5px;
	text-align: center;
	width: 180px;
	height: 80px;
	background-color: inherit;
	border: 3px solid #fff;
	font-size: 2em;
	color: #fff;
}
.bottom_section .choosing #send {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	width: 120px;
	margin: 20px auto 0 auto;
	text-transform: uppercase;
	font-weight: 600;
	transition: 0.5s;
	border: none;
}
.bottom_section .results {
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	min-width: 270px;
}
.bottom_section .results p {
	margin-top: 15px;
}
.bottom_section .results p span {
	margin-top: 15px;
	font-weight: 900;
}
.bottom_section .results .results_form {
	display: flex;
	justify-content: center;
	margin: 10px;
}
.bottom_section .results .results_form button {
	text-transform: uppercase;
	padding: 10px;
	font-weight: 600;
	border: none;
}
/* Technical classes */
.hidden {
	display: none;
}

@keyframes rottt {
	0% {
		width: 0;
	}
	100% {
		width: 100px;
	}
}

@media screen and (max-width: 600px) {
	body {
		display: block;
	}
	.content {
		display: flex;
		border: none;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.about {
		background-color: rgba(0, 0, 0, 0);
		font-size: 2em;
		margin: 20px;
		height: 40px;
		width: 40px;
		right: 0;
	}
	.top_section {
		margin: 20px;
		height: auto;
	}
	.top_section h1 {
		font-size: 1em;
		margin-left: 0;
	}
	.top_section span {
		display: block;
	}
	.top_section .range {
		font-size: 0.6em;
	}
	.mid_section {
		height: auto;
		margin: 0 0 20px 0;
	}
	.bottom_section .results {
		width: auto;
		/* min-width: auto; */
		min-width: 267px;
	}
	.bottom_section .results .results_form {
		display: block;
	}
}
